.parent{
display:flex;
justify-content: space-between;
}
.sos{
    background-color: aqua;
    width:50%;
    height:440px;

}
.list-parent {
    width: 100%;
    position: relative; /* Keeps the parent fixed relative to the viewport */
}

.bookinghead {
    position: sticky;
    top: 0; /* Makes the heading stick at the top of the container when scrolling */
    background-color: white; /* Optional: adds a background to avoid overlap */
    font-size: 20px;
    font-weight :700;
    padding-top: 5px;
    padding-left:10px;
}

.list {
    width: 100%;      
    height: 400px;   
    overflow-y: auto; /* Allows vertical scrolling */
    padding: 10px; 
    background-color: #f9f9f9; 
}
.head{
    font-weight:900;
}
.table {
    width: 100%;
    text-align: center;  /* Centers the text horizontally */
}

.table th, .table td {
    vertical-align: middle;  /* Centers the text vertically */
}
td.verify{
    color:green
}