/* App.css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-container {
    font-family: Arial, sans-serif;
    background-color: rgb(223, 223, 244);
    flex :1;
  }

  
  .error-message {
    color: red;
    text-align: center;
  }
  
  .inventory-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display:flex;
    justify-content: space-between; /* Space out items evenly */
    align-items: center;
    height: 150px;
  }
  
  .item strong {
    display: inline;
    font-size: 1.2em;
  }
  .main-content{
    display: flex;
    flex :1;
  }
  .main{
    padding: 60px 20px 0 20px;
    flex: 1;
  }
  .addItem{
    display: flex;
    justify-content: space-between;
  }
  .addItem button{
    padding: 15px 20px;
    background-color: #00c2ff;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
  }
.item-quantity {
  display: flex;
  align-items: center;
}

.item-quantity p {
  margin-left: 10px;
  font-size: 1.75em;
  font-weight: 600;
}
input{
  padding: 10px;
  margin-right: 10px;
  width: 50px;
  border: none;
  box-shadow: 0 0 5px grey ;
  border-radius: 4px;
}
.submitBtn{
  padding: 10px 20px;
  background-color: rgb(0, 255, 0);
  font-weight: 600;
  border: none;
  border-radius: 2px;
}
.removeBtn{
  padding: 10px 8px;
  background-color: red;
  color: black;
  font-weight: 600;
  border: none;
  border-radius: 2px;
  margin-top: 5px;
  margin-left: 60px;
}