/* App.css */
@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-container {
    font-family: Arial, sans-serif;
    background-color: rgb(223, 223, 244);
    flex :1;
    overflow: hidden;
  }

  
  .error-message {
    color: red;
    text-align: center;
  }
  
  .inventory-list {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  
  .item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 1px 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display:flex;
    justify-content: space-between; /* Space out items evenly */
    align-items: center;
    height: 100%;
  }
  .item-details{
    display:flex;
    width:30%;
  }
  .item-name{
    margin: auto 10px;
  }
  .itemimage{
    height:60px;
    border-radius: 10px;
  }
  .item strong {
    display: inline;
    font-size: 1.2em;
  }
  .main-content{
    display: flex;
    flex :1;
  }
  .main{
    padding: 60px 20px 0 20px;
    flex: 1;
    margin-left:250px;
    margin-top:94.4px;

  }
  .head{
    display: flex;
    justify-content: space-between;
    margin-bottom:10px;
  }
  .head button{
    padding: 10px 10px;
    background-color: #00c2ff;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
  }
.view-icon{
  height:15px;
}
input{
  padding: 10px;
  margin-right: 10px;
  width: 50px;
  height:20px;
  border: none;
  box-shadow: 0 0 5px #808080 ;
  border-radius: 4px;
}
.submitBtn{
  padding: 5px;
  background-color: rgb(73, 162, 235);
  font-weight: 600;
  border: none;
  border-radius: 10px;
  margin-top:10px;
}
.removeBtn{
  padding: 5px;
  background-color: rgb(240, 65, 65);
  font-weight: 600;
  border: 10px;
  border-radius: 10px;
  margin-top:10px;
}
.name-filter{
  width:400px;
  height:38px;
}
.icon-button {
  background: none;
  border: solid black 2px;
  padding:5px;
  cursor: pointer;
  outline: none;
  margin-right:10px;
}

.icon-button:focus {
  outline: none;
  box-shadow: 10px;
}
.data{
  margin-top:10px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Transparent black */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  height:30vh;
  width:30vw;
  display:flex;
  flex-direction: column;
}
.modal-close{
  margin-top:20px !important;
  width:40px;
  margin:auto;
  color:white;
  background-color: red;
}
.manufacturer-details{
  margin-top:20px;
}
