.header {
    background-color: #00aaff;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  p{
    color: black;
    font-weight: 500;
  }