@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css or a global CSS file */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
  height: 100%;
}

#root {
  height: 100%;
}
